
.form-control.ng-touched.ng-invalid {
    border: 2px solid red;
}

p{
    margin-top: 5.6em;
}


img{
    -webkit-box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);
}

.alert{
    text-align: center;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
}

.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
  min-height: 300px;
}

@media (max-width: 600px){
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
        width: 100%;
      }
    .navbar-expand-md .navbar-toggler {
        display: block;
      }
    .row{
      text-align: left;
      width: 100%;
      margin-left: 0px;
      }
      .form-control{
        display: block;
        width: 100%;
      }
      .table th, td, .table-bordered {
        font-size: 10px;
    }
    h5, h6{
      font-size: 15px;
     }
    .py-3{
      position: inherit;
      bottom: 0;
      width: 100%;
      height: 40px;
    }
    .btn-lg{
      font-size: 12px;
    }
      #imagenInicio{
        height: auto;
        width: 250px;
      }
    }
     
      