<!-- Menu de navegación para las zapatas aisladas -->
<div class="card" style="background-color: #343a40!important; color: white">
    <div class="card-header" align="center">
        <h4 align="center">Acerca de...</h4>
    </div>
</div>




<div class="card">
    <div class="card-body" align="center">
        <!-- <h6 id="mensaje" align="center">Actualmente no hay ningun dato inicial creado!</h6> -->
        <div class="row">
            <div class="container">
                <div class="col-12 col-md-12 col-lg-12">
                    <h5 style="text-align: center">
                        Requisitos normativos considerados para el desarrollo del aplicativo
                    </h5>

                    <br><br>
                    <h6 style="text-align: left; font-weight: bold">Cargas y reacciones</h6>

                    <p style="text-align: justify">
                        Se requiere que las zapatas sean diseñadas para resistir las cargas mayoradas y las
                        reacciones inducidas que deben soportar las bases de las zapatas o cabezal de pilotes
                        <strong>(Asociación colombiana de ingeniería sísmica, 2010) NSR-10 (C.15.2). </strong>
                        <br>
                        Para el área base de las zapatas es necesario utilizar las cargas de servicio trasmitidas
                        al suelo a través de las zapatas y determinar la capacidad admisible del suelo a partir
                        de diferentes métodos de la mecánica de suelos (Asociación colombiana de ingeniería sísmica,
                        2010) NSR-10 (C.15.2).
                        <br>
                        También es necesario considerar según el reglamento colombiano <strong>NSR-10</strong> que:
                    </p>
                    <ol style="text-align: justify">
                        <li>Para el cálculo de los esfuerzos actuantes el Qmax determinado no debe
                            superar el Qadm del suelo.</li>
                        <li>El espesor para las zapatas sobre el refuerzo inferior no puede ser menor a
                            150 mm para zapatas apoyadas sobre el suelo (Asociación colombiana de
                            ingeniería sísmica, 2010) NSR-10 (C.15.7)</li>
                        <li>El recubrimiento debe ser de 75mm para concreto colocado contra el suelo y
                            expuesto permanentemente a él (Asociación colombiana de ingeniería
                            sísmica, 2010) NSR-10 (C.7.7.1 (a)).</li>
                    </ol>

                    <br>
                    <h6 style="text-align: left; font-weight: bold">Momentos en zapatas</h6>

                    <p style="text-align: justify">
                        El momento externo en cualquier sección de una zapata debe determinarse pasando
                        un plano vertical a través de la zapata, y calculando el momento de las fuerzas que
                        actúan sobre el área total de la zapata que quede a un lado de dicho plano vertical.
                        <br>
                        El momento máximo mayorado para el diseño de una zapata aislada debe calcularse
                        teniendo en cuenta los siguientes criterios establecidos por el reglamento
                        colombiano NSR-10:
                        <br>
                    </p>
                    <ol style="text-align: justify">
                        <li>“En la cara de la columna, pedestal o muro, para zapatas que soporten una
                            columna, pedestal o muro de concreto” (Asociación colombiana de ingeniería
                            sísmica, 2010) NSR-10 (C.15.4.2 (a)). </li>
                        <li>“En el punto medio entre el eje central y el borde del muro, para zapatas que
                            soporten muros de albañilería” (Asociación colombiana de ingeniería
                            sísmica, 2010) NSR-10 (C.15.4.2 (b)). </li>
                        <li>“En el punto medio entre la cara de la columna y el borde de la platina de
                            base de acero, para zapatas que soporten una columna con platina de acero
                            de base” (Asociación colombiana de ingeniería sísmica, 2010) NSR-10
                            (C.15.4.2 (c)).</li>
                    </ol>

                    <br>

                    <h6 style="text-align: left; font-weight: bold">Cortante en zapatas</h6>

                    <p style="text-align: justify">
                        La resistencia al cortante según el reglamento colombiano NSR-10 estipula que:
                        <br>
                    </p>
                    <ol style="text-align: justify">
                        <li>El diseño de secciones transversales sometidas a cortante debe estar basado
                            en que la resistencia nominal al cortante (øVn) debe ser mayor o igual a la
                            fuerza cortante mayorada en la sección considerada (Vu) (Asociación
                            colombiana de ingeniería sísmica, 2010) NSR-10 (C.11.1.1). </li>
                        <li>La resistencia a cortante debe determinarse para las condiciones más críticas,
                            siendo la sección más crítica la que se mide a partir de la cara del elemento
                            soportado (columna, pedestal o muro) salvo para platinas de acero de base.
                            (Asociación colombiana de ingeniería sísmica, 2010) NSR-10 (C.15.5.1 y
                            C.15.5.2). </li>
                        <li>Para el diseño por cortante, el cortante en el eje x (Vx) no debe ser mayor a la
                            resistencia nominal al cortante proporcionada por el concreto (Vc), tomado
                            del enciso 2.2 capítulo 9 del libro manual para el proyecto de concreto armado
                            para edificios (Ing Henrique Arnal, 1984).</li>
                    </ol>

                    <br>

                    <h6 style="text-align: left; font-weight: bold">Refuerzo</h6>

                    <ol style="text-align: justify">
                        <li>En zapatas en una dirección el refuerzo debe distribuirse uniformemente a lo
                            largo del ancho total de la zapata (Asociación colombiana de ingeniería
                            sísmica, 2010) NSR-10 (C.15.4.3). </li>
                        <li>Para determinar el área de acero requerida en el diseño de las zapatas es
                            necesario escoger el máximo valor entre las siguientes ecuaciones, las cuales
                            corresponden al área de acero y área de acero mínima según la cuantía
                            mínima respectivamente. </li>
                        <div align="center">
                            <img src="../../../assets/formula.jpg" style="text-align: center">
                        </div>

                        <li> <strong>Área de acero sección transversal (pedestal):</strong> el área total de la sección
                            transversal del refuerzo de estribos cerrados de confinamiento rectangulares
                            “Ash” no debe ser menor que la requerida por las ecuaciones (C.21-7),
                            (C.21-8) (Asociación colombiana de ingeniería sísmica, 2010) NSR -10.</li>

                        <li> <strong>Área de refuerzo longitudinal (pedestal): </strong> el área de refuerzo
                            longitudinal
                            “Ast” no debe ser menor que 0,01 Ag ni mayor que 0,04 Ag. (Asociación
                            colombiana de ingeniería sísmica, 2010) NSR-10 (C.21.6.3.1).</li>

                        <li> <strong>Cuantía mínima de acero: </strong> para el caso en el que se presente momentos
                            pequeños en la cara de la columna deberá proveerse un área de acero mínima
                            As, la cual se calcula en función de la cuantía mínima p=0,0018. De acuerdo
                            con (Asociación colombiana de ingeniería sísmica, 2010) NSR-10 (C.7.12.2)</li>

                    </ol>

                    <br>

                    <h6 style="text-align: left; font-weight: bold">Separacion de acero</h6>

                    <p style="text-align: justify">
                        La separación del refuerzo transversal a lo largo del eje longitudinal del elemento
                        no debe exceder la menor de la cuarta parte de la dimensión mínima del elemento.
                        (Asociación colombiana de ingeniería sísmica, 2010) NSR-10 (C.21.6.4.3)
                        <br>
                    </p>

                    <br>

                    <h6 style="text-align: left; font-weight: bold">Punzonado</h6>

                    <p style="text-align: justify">
                        Para calcular el valor de punzonado en las zapatas es necesario considerar que dicho
                        valor no debe exceder la resistencia del concreto, tomado del enciso 2.1 capítulo 9
                        del libro manual para el proyecto de concreto armado para edificios (Ing Henrique
                        Arnal, 1984)
                        <br>
                    </p>


                    <h5 style="text-align: center">
                        Política de datos
                    </h5>

                    <p style="text-align: justify">
                        Este software esta diseñado para el uso educativo como parte de la universidad de Ibagué.

                        <br>
                        Los resultados obtenidos hacen parte de una investigación y análisis, trabajando con los datos supuestos
                        por el usuario.

                        <br>
                        Se hace claridad que el usuario se hace responsable del debido uso de los resultados obtenidos.

                </div>
            </div>
        </div>
    </div>
</div>